* {box-sizing: border-box;}
body {
    color: teal;
    background: lightgrey;
}
header {padding-bottom:40px;}

.carousel {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 40px;
}
/* carousel images */
.cimg{
    border-radius: 15px;
}

.card {box-shadow: 10px 10px 8px rgba(40, 53, 53, 0.685)}

.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 0;
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 30px;
    text-align: center;
}

.create {
  text-align: center;
}

/* NEVER PUT MARGINS IN A COLUMN */
.profile {
    padding-left: 40px;
    padding-bottom: 10px;
}

.nameRealm {
    margin-bottom: 0px;
}
.classSpec {
    margin-top: 0px;
}

.friends-list {
    padding-left: 40px;
    padding-top: 20px;
}

.event-board {
    padding-bottom: 10px;
}

.chat-window {
    padding-top: 20px;
}