* {box-sizing: border-box;}
body {color: teal;}

header {
    line-height: 15px;
    padding-bottom: 40px;
}

/* W logo */
.logo {
    width: 30px;
    height: auto;
}

#logout {
    float: right;
}
.carousel {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 40px;
}
/* carousel images */
.cimg{
    border-radius: 15px;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 0;
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 30px;
    text-align: center;
}

.create {
  text-align: center;
}