* {box-sizing: border-box;}
body {
    color: rgb(59, 199, 199);
    background-color: rgb(172, 169, 169);
}
.bg-dark {
    background-color: black!important;
}
a {
    color: gold;
}
a:hover {
    color: rgb(59, 199, 199);
}
a:visited {
    color: #fff;
}


.carousel {
    color: teal;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding-bottom: 40px;
}
/* carousel images */
.cimg{
    border-radius: 15px;
}

.card {
    background-color: rgb(44, 43, 43);
    box-shadow: 10px 10px 8px rgba(40, 53, 53, 0.685)
}

.eventTitle {
    background-color: black;
}

.list-group-item {
    background-color: rgb(44, 43, 43);
}

.form-group {
    color: teal;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    padding: 0;
}

.button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 30px;
    text-align: center;
}

.create {
    color: teal;
    text-align: center;
}

/* NEVER PUT MARGINS IN A COLUMN */
.main-container {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.profile {
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-bottom: 10px;
}
.profilePic {
    padding: 10px;
}
.nameRealm {
    color: gold;
    margin-bottom: 0px;
}
.classSpec {
    margin-top: 0px;
}

.darkBtn {
    color: #fff;
    border-color: gold;
    background-color: black;
}

.darkBtn:hover {
    color: gold;
    border-color: white;
    background-color: black;
    box-shadow: 6px 6px 3px black;
}

.banner {
    background-color: black;
}

.eventBanner {
    padding: 10px;
}

.eventBoard {
    background-color: black;
    color: gold;
    text-align: center;
}

.friends-list {
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-top: 20px;
}

.friendsList {
    background-color: black;
    color: gold;
    margin-bottom: 0px;
}

.event-board {
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-bottom: 10px;
}

.chat-window {
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-top: 20px;
}

.footer {
    background-color: rgb(172, 169, 169);
    color: white;
    height: 30px;
}
